
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

@font-face {
  font-family: "Madjoe";
  src: url("/font/Madjoe.ttf");
  
}





* {
  box-sizing: border-box;
}

/* GLOBAL STYLES */


button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
}
button:hover {
  color: #04c;
}

h1{
  font-family: "Madjoe", sans-serif;
}
.App {
  display: flex;
}

/* sidebase STYLES */

.app-sidebase {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.app-sidebase-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.app-sidebase-header h1 {
  margin: 0;
}

.app-sidebase-notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}
.app-sidebase-note {
  padding: 25px;
  cursor: pointer;
}
.sidebase-note-title {
  display: flex;
  justify-content: space-between;
}
.app-sidebase-note button {
  color: crimson;
}
.app-sidebase-note p {
  margin: 10px 0;
}
.app-sidebase-note small {
  display: block;
  color: #999;
}

.app-sidebase-note:hover {
  background: #ddd;
}
.app-sidebase-note.active,
.app-sidebase-note.active small {
  background: #08c;
  color: white;
}

/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.app-main {
  width: 70%;
  height: 100vh;
}
.app-main-note-edit,
.app-main-note-preview {
  height: 50vh;
}

.no-active-note {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}

/* Editing */
.app-main-note-edit {
  padding: 25px;
}

.app-main-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
.app-main-note-edit input {
  height: 50px;
  font-size: 2rem;
}

/* Preview */
.app-main-note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.02);
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}